.ctc-page {
    width: 850px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.sign-up{
    display: flex;
    flex-direction: column;
    width: 380px;

    .title{
        margin: 10px 0px;
    }
}

.success {
    color: 008000;
    font-weight: 600;
}
.danger {
    color: 800000;
    font-weight: 600;
}