.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
    p {
      font-size: 1.1rem;
    }    

  }
}

.btn-control {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.btn-submit {
  color: #fff;
}

.btn-admin {
  margin-right: 0 !important;
  margin-left: 4rem ;
  padding: 1rem 1.5rem;
}

p.info {
  font-size: 1.5rem;
  color: blue;
}